html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

/* meet logo */
#meet-logo {
    margin-top: 2.5em;
    display: inline-flex;
    padding-bottom: 2em;
}

/* hero image on mobile */
#mobile-hero {
    margin-top: 2.8em;
    display: inline-flex;
    padding-bottom: 2em;
}

/* hero image on tablet */
#tablet-hero {
    display: none;
}

/* left hero image on desktop */
#desktop-left {
    display: none;
}

/* right hero image on desktop */
#desktop-right {
    display: none;
}

/* the four images on desktop */
#desktop-four {
    display: none;
}

p {
    color: #87879D;
    padding: 1em;
    font-weight: 500;
    line-height: 26px;
 }


/* 'smarter meetings, all in one place' */
h3 {
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    padding: .1em .65em .3em .65em;
}

/* 'experience more together' */
h4 {
    font-weight: 900;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 36px;
    padding-top: 1.6em;
}

/* 'group chat for everyone' image */
#groupchat-img {
    margin-top: 2.2em;
}

/* 'group chat for everyone' text */
h5 {
    display: none;
}

/* 'built for modern use' */
#built {
    color: #4D96A9;
    text-transform: uppercase;
    padding: 2em 0 0 .5em;
    font-weight: 900;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 1em;
}

/* paragraph beginning with 'send messages' */
#sendmessages {
 padding: 0 1.673em 0 1.673em;
}


/* the buttons */
button {
    color: #FFFFFF;
    border: none;
    border-radius: 1.9em;
    font-weight: 900;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 16px;
    font-style: normal;
    margin-bottom: .7em;
    line-height: 26px;
}

/* 'download' and 'what is it' buttons before section one */
#twobuttons {
    width: 60%;
    align-items: center;
    margin: auto;
}

/* both 'download' buttons */
.download {
    line-height: 26px;
    background-color: #4D96A9;
}
.download:hover {
    background-color: #71C0D4;
}

/* 'what is it?' button */
#whatisit {
    line-height: 26px;
    background-color: #855FB1;
    margin-bottom: 4em;
}
#whatisit:hover {
    background-color: #D9B8FF;
}

/* version number for first 'download' button */
.version1 {
    display: inline-block;
    color: #8FE3F9;
}

/* version number for the second 'download' button */
.version2 {
    display: inline-block;
    color: #D9B8FF;
}

/* row of four images */
    #four-row {
        display: none;
    }

/* the lines above the circled numbers */
.line {
    border-left: 1px solid #87879D;
    height: 84px;
    margin-left: 186px;
    opacity: 25%;
}

/* the circled numbers */
.circle {
    border: 1px solid lightgrey;
    color: #87879D;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* the circled '1' */
#one {
    margin-bottom: 5em;
}

/* the circled '2' and its line */
#two {
    margin-bottom: -2em;
    position: relative;
    margin-top: 3em;
}

/* footer */
footer {
    background-image: linear-gradient(rgb(77, 150, 154, 0.85), rgb(77, 150, 154, 0.85)),url('./assets/mobile/image-footer.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    align-items: center;
}

/* 'stay connected with reliable...' */
#stay {
    color: #FAFAFA;
    padding-left: 2.6em;
    padding-right: 2.6em;
}

#footerbutton {
   background-color:  #855FB1;
   width: 55%;
   margin-top: 2.5em;
   margin-bottom: 3em;
}
#footerbutton:hover {
    background-color: #D9B8FF;
}


/* Tablet View */
@media only screen
and (min-width:481px)
and (max-width: 768px){
    #meet-logo {
        width: 100px;
    }
    #mobile-hero {
        display: none;
    }
    #tablet-hero {
        display: block;
        width: 109%;
        overflow: hidden;
        transform: translateX(-5%);
    }
    #desktop-left {
        display: none;
    }
    #desktop-right {
        display: none;
    }
    #desktop-four {
        display: none;
    }
    #meet-makes {
       text-align: center;
    }
    #whatisit {
        margin-left: 1em;
    }
    #twobuttons {
        margin-top: 1em;
        width: 90%;
    }
    .line {
        text-align: center;
        margin-left: 240px;
    }
    #four-imgs {
        display: none;
    }
    #four-row {
        display: inline-flex;
    }
    footer {
        background-image: url('./assets/tablet/image-footer.jpg');
    }
}


/* Desktop View */
@media only screen
and (min-width:769px)
{
    #meet-logo {
        width: 100px;
    }
    #mobile-hero {
        display: none;
    }
    #tablet-hero {
        display: none;
    }
    #desktop-left {
        display: inline-flex;
        float: left;
    }
    #desktop-right {
        display: inline-flex;
        float: right;
    }
    #desktop-four {
        display: block;
    }
    #desktop-four img {
        border-radius: 5px;
        width: 255px;
        height: 242px;
    }
    #groupchat-img {
        display: none;
    }
    /* 'smarter meetings, all in one place' */
    h3 {
        font-size: 40px;
        line-height: 44px;
        width: 445px;
        margin: auto;
        padding-top: .5em;
    }
    /* 'group chat for everyone' text */
    h5 {
        display: inline-flex;
        font-size: 64px;
        line-height: 64px;
        text-align: center;
        width: 445px;
        font-weight: 900;
        margin: 0;
    }
    #meet-makes {
        width: 50%;
        margin: auto;
    }
    .line {
        text-align: center;
    }
    #four-imgs {
        display: none;
    }
    footer {
        background-image: linear-gradient(rgb(77, 150, 154, 0.85), rgb(77, 150, 154, 0.85)), url('./assets/desktop/image-footer.jpg');
    }
}