html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

header {
    margin-top: 2.8em;
    display: inline-flex;
    padding-bottom: 2em;
}

p {
    color: #87879D;
    padding: 1em;
    font-weight: 500;
    line-height: 26px;
 }


/* 'smarter meetings all in one place' */
h3 {
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    padding: .1em .65em .3em .65em;
}

/* 'experience more together' */
h4 {
    font-weight: 900;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 36px;
}

/* 'group chat for everyone' */
#groupchat {
    margin-top: 2.2em;
}

/* 'built for modern use' */
#built {
    color: #4D96A9;
    text-transform: uppercase;
    padding: 2em 0 0 .5em;
    font-weight: 900;
    line-height: 26px;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 1em;
}

/* paragraph beginning with 'send messages' */
#sendmessages {
 padding: 0 1.673em 0 1.673em;
}


/* the buttons */
button {
    color: #FFFFFF;
    border: none;
    border-radius: 1.9em;
    font-weight: 900;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 16px;
    font-style: normal;
    margin-bottom: .7em;
    line-height: 26px;
}

/* 'download' and 'what is it' buttons before section one */
#twobuttons {
    width: 60%;
    align-items: center;
    margin: auto;
}

/* both 'download' buttons */
.download {
    line-height: 26px;
    background-color: #4D96A9;
}
.download:hover {
    background-color: #71C0D4;
}

/* 'what is it?' button */
#whatisit {
    line-height: 26px;
    background-color: #855FB1;
    margin-bottom: 4em;
}
#whatisit:hover {
    background-color: #D9B8FF;
}


/* the lines above the circled numbers */
.line {
    border-left: 1px solid #87879D;
    height: 84px;
    margin-left: 186px;
    opacity: 25%;
}

/* the circled numbers */
.circle {
    border: 1px solid lightgrey;
    color: #87879D;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* the circled '1' */
#one {
    margin-bottom: 5em;
}

/* the circled '2' and its line */
#two {
    margin-bottom: -2em;
    position: relative;
}

/* footer */
footer {
    background-image: linear-gradient(rgb(77, 150, 154, 0.8), rgb(77, 150, 154, 0.8)),url('./assets/mobile/image-footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    align-items: center;
}

footer p {
    color: #FAFAFA;
}

#footerbutton {
   background-color:  #855FB1;
   width: 55%;
}
#footerbutton:hover {
    background-color: #D9B8FF;
}

.version1 {
    display: inline-block;
    color: #8FE3F9;
}

.version2 {
    display: inline-block;
    color: #D9B8FF;
}
